<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<body>
<div layout:fragment="content">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3"></div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>
<section layout:fragment="script">
</section>
</body>
</html>