### Project exclude paths ###
/.gradle/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### ETC ###

HELP.md
.gradle
/build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/


### VS Code ###
.vscode/

### NPM ###

### NPM ###
platform-app-admin/src/main/resources/static/node_modules